cPython==0.0.6
Cython==3.0.2
imageio==2.31.3
jupyter_client==8.3.1
jupyter_core==5.3.1
matplotlib==3.7.2
numpy==1.25.2
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
torch==2.0.1
torch-tb-profiler==0.4.1
torch-vision==0.1.6.dev0